node_modules/
.env
!.env.example
server/data/
server/dist/
client/dist/
.DS_Store
docs/

/.idea/vcs.xml
/.idea/workspace.xml
/.idea/dataSources/data_sources_history.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/server/server/
